:root{
    --dark: #242424;
    --gray: rgb(66, 65, 65);
}
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--gray);
}
nav {
    background-color: var(--dark);
    border-bottom: dotted 2px red;
}
ul{
    margin: 0;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
}
li{
    
padding: 26px;

}
nav a{
    
    color: white;
    text-decoration: none;
   
}
nav li:hover{
    background-color: #414040;
    
}
h1{
    padding: 0;
    margin: 0;
}
section{
    margin: 45px;
    color: white;
}
section p {
    font-size: 1.56em;
}
#ourteam{
   
    margin: 0px 45px;

}
#ourteam h2{
    text-align: center;
    color: white;
}
#cards{
    display: flex;
    justify-content: center;
}
#card{
    width: 245px;
    
    margin-left:25px;
   color: azure;
}
#card img{
    width: 100%;
}
#text {
    margin-left: 10px;
}